
<%= link_to "Create new post",  new_post_path %> |
<%= link_to "Photo Gallery",  photos_path %>

<% if @posts == [] %>
    <p>Create new post</p>
<% else %>
    <% @posts.each do |post| %>
       <p>User
	    <% if !post.user.userparam.nil? %>
       	<%= image_tag post.user.userparam.avatar.url(:small) %>
	<% end %>
       	<b><%= post.user.email %></b> write: <br />
       <b><%= post.title %></b><br />
       <%= post.body %></p>
       <p><%= link_to "Read More", post_path(post.id) %></p>
    <% end %>
<% end %>