User: <%= @post.user.email %><br />
Title: <%= @post.title %><br />
Body: <%= @post.body %><br />
<hr>
<% @comments.each do |comment| %>
   <p>
    User <b><%= comment.user.userparam.firstname %></b> write: <br />
    <%= comment.body %><br />
   </p>
<% end %>
<h2>Write comment here </h2>
<%= form_for :post_comment, url: post_postcomments_path(@post.id) do |f| %>
  Comment: <%= f.text_area :body, size: "60x5" %><br />
  <%= f.submit "Create" %>
<% end %>

<% if @post.user_id == current_user.id %>
<p><%= link_to "edit", edit_post_path(@post.id) %> |
<%= link_to "delete", post_path(@post.id), method: :delete %><br /></p>
<% end %>